/* List Menu */

position: absolute;
width: 231px;
height: 24px;
left: 39px;
top: 331px;



/* wallet-money 2 */

position: absolute;
width: 24px;
height: 24px;
left: 39px;
top: 331px;



/* Vector */

position: absolute;
left: 15.01%;
right: 55.2%;
top: 70.25%;
bottom: 8.33%;

border: 1.5px solid #9197B3;


/* Vector */

position: absolute;
left: 14.96%;
right: 55.21%;
top: 45.88%;
bottom: 28.96%;

border: 1.5px solid #9197B3;


/* Vector */

position: absolute;
left: 15.01%;
right: 55.2%;
top: 45.83%;
bottom: 17.5%;

border: 1.5px solid #9197B3;


/* Vector */

position: absolute;
left: 70.3%;
right: 8.33%;
top: 41.46%;
bottom: 41.46%;

border: 1.5px solid #9197B3;


/* Vector */

position: absolute;
left: 8.33%;
right: 12.5%;
top: 14.58%;
bottom: 14.58%;

border: 1.5px solid #9197B3;


/* Income */

position: absolute;
width: 53px;
height: 21px;
left: 77px;
top: 333px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
letter-spacing: -0.01em;

color: #9197B3;



/* chevron-right 2 */

position: absolute;
width: 16px;
height: 16px;
left: 254px;
top: 335px;



/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 2px solid #9197B3;
