/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/css/animation.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

  .box {
    display: inline-block;
    padding: 15px 25px;
    background: linear-gradient(45deg, #cfedfd, #a8d5e5);
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    border: 2px solid transparent;
  }
  
  .btn-color-transition {
    padding: 12px 24px;
    background: #e5a84c;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .btn-color-transition:hover {
    background: #d09332;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .transform-hover {
    transition: transform 1s ease-in;
    transform: scale(1);
  }
  
  .transform-hover:hover {
    transform: scale(1.1);
  }
  
  .shadow-hover {
    transition: box-shadow 0.3s ease;
    box-shadow: none;
  }
  
  .shadow-hover:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(+100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-right {
    animation: slideInRight 3s ease-out;
  }
  
  .btn-ripple {
    position: relative;
    padding: 12px 24px;
    /* background: #70b2f0; */
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    transition: background 1s ease;
  }
  
  .btn-ripple:active {
    transform: scale(0.95);
  }

  .btn-3d:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0 #4a3f64;
  }
  
  .btn-3d:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #4a3f64;
  }
  
  .btn-3d {
    padding: 12px 24px;
    background: #e6c792;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 0 #4a3f64;
  }
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/css/modalImage.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
#modal-toggle:checked ~ .modal-css-only {
  display: flex;
}
.modal-css-only {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0; width: 100vw; height: 100vh;
  align-items: center; justify-content: center;
}
.modal__overlay {
  position: fixed; left: 0; top: 0; width: 100vw; height: 100vh;
  background: rgba(144, 142, 142, 0.7);
  z-index: 1;
}
.modal__content {
  position: relative;
  background: rgba(144, 142, 142, 0.7);
  padding: 20px;
  border-radius: 8px;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  max-width: none;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-css-only,
.modal__content,
.modal__overlay {
  max-width: none !important;
  margin: 0 !important;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/fonts/DINPro/stylesheet.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:35 AM */

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-Medium.11d4a50a.eot);
	src: local('DIN Pro Medium'), local('DINPro-Medium'),
		url(/_next/static/media/DINPro-Medium.11d4a50a.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-Medium.359a9eba.woff) format('woff'),
		url(/_next/static/media/DINPro-Medium.2d62288f.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-BlackItalic.7909760d.eot);
	src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
		url(/_next/static/media/DINPro-BlackItalic.7909760d.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-BlackItalic.bf263392.woff) format('woff'),
		url(/_next/static/media/DINPro-BlackItalic.fc342f05.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedBlackItalic.aff6ea5e.eot);
	src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
		url(/_next/static/media/DINPro-CondensedBlackItalic.aff6ea5e.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedBlackItalic.1c50bf2c.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedBlackItalic.7e18ed62.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedMedium.d6a17ef7.eot);
	src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
		url(/_next/static/media/DINPro-CondensedMedium.d6a17ef7.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedMedium.394e3aa1.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedMedium.90f4cd1b.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-MediumItalic.2962cdb7.eot);
	src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
		url(/_next/static/media/DINPro-MediumItalic.2962cdb7.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-MediumItalic.b1e8c16a.woff) format('woff'),
		url(/_next/static/media/DINPro-MediumItalic.1cbd50ef.ttf) format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-Bold.d7c064d9.eot);
	src: local('DIN Pro Bold'), local('DINPro-Bold'),
		url(/_next/static/media/DINPro-Bold.d7c064d9.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-Bold.2cb6e12b.woff) format('woff'),
		url(/_next/static/media/DINPro-Bold.80e29b4f.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-Light.ca9ca2eb.eot);
	src: local('DIN Pro Light'), local('DINPro-Light'),
		url(/_next/static/media/DINPro-Light.ca9ca2eb.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-Light.7ad5cf09.woff) format('woff'),
		url(/_next/static/media/DINPro-Light.a5fca310.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedMediumItalic.967ba5c1.eot);
	src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
		url(/_next/static/media/DINPro-CondensedMediumItalic.967ba5c1.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedMediumItalic.a9a0f1ff.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedMediumItalic.5c35ff70.ttf) format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-Italic.edb742ac.eot);
	src: local('DIN Pro Italic'), local('DINPro-Italic'),
		url(/_next/static/media/DINPro-Italic.edb742ac.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-Italic.8bf04157.woff) format('woff'),
		url(/_next/static/media/DINPro-Italic.2488b9ea.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro.c93e576b.eot);
	src: local('DIN Pro'), local('DINPro'),
		url(/_next/static/media/DINPro.c93e576b.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro.b4024c07.woff) format('woff'),
		url(/_next/static/media/DINPro.083c44cd.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedBlack.4fcb9d18.eot);
	src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
		url(/_next/static/media/DINPro-CondensedBlack.4fcb9d18.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedBlack.17c231ca.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedBlack.0113cb3c.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedBold.f93a7b2e.eot);
	src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
		url(/_next/static/media/DINPro-CondensedBold.f93a7b2e.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedBold.f0093ae8.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedBold.a11a728f.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-Black.c32b10d7.eot);
	src: local('DIN Pro Black'), local('DINPro-Black'),
		url(/_next/static/media/DINPro-Black.c32b10d7.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-Black.8fe441a4.woff) format('woff'),
		url(/_next/static/media/DINPro-Black.ff0be705.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-LightItalic.4454a655.eot);
	src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
		url(/_next/static/media/DINPro-LightItalic.4454a655.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-LightItalic.500dd564.woff) format('woff'),
		url(/_next/static/media/DINPro-LightItalic.8404d790.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedBoldItalic.3f1b3c5f.eot);
	src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
		url(/_next/static/media/DINPro-CondensedBoldItalic.3f1b3c5f.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedBoldItalic.ddbdddc8.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedBoldItalic.7d28e81d.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedRegular.2351f4b4.eot);
	src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
		url(/_next/static/media/DINPro-CondensedRegular.2351f4b4.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedRegular.c6d5e635.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedRegular.f34e6c5c.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedItalic.4a48942f.eot);
	src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
		url(/_next/static/media/DINPro-CondensedItalic.4a48942f.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedItalic.0266968b.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedItalic.657a399b.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedLightItalic.153f6ebd.eot);
	src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
		url(/_next/static/media/DINPro-CondensedLightItalic.153f6ebd.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedLightItalic.285ba0c4.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedLightItalic.c1993353.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url(/_next/static/media/DINPro-CondensedLight.20f7d71c.eot);
	src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
		url(/_next/static/media/DINPro-CondensedLight.20f7d71c.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-CondensedLight.c6862804.woff) format('woff'),
		url(/_next/static/media/DINPro-CondensedLight.30b80b19.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url(/_next/static/media/DINPro-BoldItalic.9946a528.eot);
	src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
		url(/_next/static/media/DINPro-BoldItalic.9946a528.eot?#iefix) format('embedded-opentype'),
		url(/_next/static/media/DINPro-BoldItalic.fe49cb55.woff) format('woff'),
		url(/_next/static/media/DINPro-BoldItalic.0a48a421.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

